<footer class="site-footer h-card">
    <data class="u-url" href="{{ "/" | relative_url }}"></data>
  
    <div class="wrapper">
        <div class="footer-col">
            <p>Gefördert durch:</p>
            <ul class="sponsor-list">
                <li class="sponsor-list-item">
                    <a href="https://leibniz-hbi.de/">
                        <img src="{{ "assets/img/Logo-bunt-quer-auf-weiss.png" | relative_url }}">
                    </a>
                </li>
                <li class="sponsor-list-item">
                    <a href="https://www.reset.tech/">
                        <img src="{{ "assets/img/reset.svg" | relative_url }}"></img>
                    </a>
                </li>
                <li class="sponsor-list-item">
                    <a href="https://www.fgz-risc.de/">
                        <img src="{{ "assets/img/FGZ-Logo-Teilinstitut-RGB-DE.png" | relative_url }}"></img>
                    </a>
                </li>
                <li class="sponsor-list-item">
                    <a href="https://www.bmbf.de/">
                        <img src="{{ "assets/img/BMBF_deutsch.jpg"| relative_url }}"></img>
                    </a>
                </li>
            </ul>
        </div>
      </div>
    </div>
</footer>